---
---

@import "main";

#input-log * {
    // height: auto;
    line-height: 1.5em;
    resize: none;
    // width: 100%;
    margin: auto 0.2em;
    padding: 0.4em;
    box-sizing: border-box;
}
#input-log button {
    // padding: 0em;
    line-height: 1;
}
#input-log {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
#input-log input {
    flex: 1 0 70%;
    font-size: smaller;
}

#output {
    // grid-template-rows: auto;
    column-count: 2;
    column-fill: balance-all;
}

#output-header p {
    //grid-column-start: span 2;
    text-align: center;
}

#output li p {
    margin: 0px;
    font-size: smaller;
}

#output li div {
    display: flex;
    flex-wrap: wrap;
    margin: 4px;
}

#output li div p {
    font-size: x-small;
    padding: 1px 4px;
    border-radius: 8px;
    margin: 2px;
    flex: 1;
    flex-shrink: 1;
    background-color: rgb(28, 48, 48);
    overflow: auto; // so flex doesn't wrap this item
}

#output li div p.warning {
    background-color: rgb(100, 72, 0);
}
#output li div p.error {
    background-color: rgb(68, 0, 0);
}
#output li div p.exception {
    background-color: rgb(158, 0, 0);
}

#output li div p.unknown-icon {
    background-color: rgb(28, 48, 48);
    font-weight: bold;
    font-size: larger;
    flex: unset;
    flex-shrink: 0;
    width: 9px;
    text-align: center;
}

#output li div p.exception-icon {
    background-color: rgb(158, 0, 0);
    font-weight: bold;
    font-size: larger;
    flex: unset;
    flex-shrink: 0;
    width: 9px;
    text-align: center;
}

#output li p.offending {
    background-color: rgb(158, 0, 0);
    font-weight: bold;
    flex-basis: 100%;
}

@keyframes listAppear {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}

#output section {
    // animation: listAppear 0.6s ease-in 1s both;
    overflow-wrap: break-word;
    overflow-y: clip;
}